/* WORK SANS */
@import url('https://fonts.googleapis.com/css?family=Work+Sans:200,300,400,600&display=swap');

/* ALDRICH */
@import url('https://fonts.googleapis.com/css?family=Aldrich&display=swap');

:root {
  --onyx: #001514;
  --snow: #F9FFFE;
  --tropical-green: #046B65;
  --persian-green: #0BA39B;
  --turquoise: #2DE5DC;
  --spring: #9af6e7;
}


html {
  font-size: 21px;
  font-family: 'Opens Sans'
}

a {
  color: #0BA39B;
  text-decoration: none;
}

a:hover {
  color: var(--spring);
  text-decoration: none;
}

body {
  color: var(--snow);
  background-color: var(--onyx);
}



header {
  background-color: var(--tropical-green);
  padding: 1.5rem;
}

header>h1 {
  font-family: 'Work Sans', sans-serif;
  font-weight: 300;
  text-transform: uppercase;
  line-height: 1.5;
}

article {
  color: var(--snow);
  text-transform: uppercase;
  margin-top: 4rem;
  padding-top: 4rem;
  border-bottom: solid thin rgba(211, 211, 211, 0.8);
}

h1.time-increment {
  font-family: 'Aldrich';
  font-size: 5rem;
  font-weight: 300;
  letter-spacing: 0.05em;
  line-height: 1.0;
  text-shadow: 0 0 20px #0BA39B;

}

p.time-increment {
  color: var(--turquoise);
  font-family: 'Work Sans', sans-serif;
  font-weight: 300;
  size: .8rem;
}



aside>p.small {
  font-family: 'Work Sans', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  padding-top: 1rem;
  font-weight: 200;
  text-align: center;
  font-size: .75rem;
  line-height: 1.5;
  color: var(--snow);
}



footer {
  position: fixed;
  font-family: 'Work Sans', sans-serif;
  font-weight: 200;
  text-transform: uppercase;
  letter-spacing: 0.15ch;
  padding-bottom: 0rem;

}

footer>h6 {
  font-size: .5rem;
  text-align: center;

}